html, body {
	padding: 0;
	margin: 0;
    background-color: #ccc;
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.bs-cont {
    position: relative;
    background-color: white;
    z-index: 1;
}
